<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476746619654-f7s3omf57g3d661svq7tka295ci416ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476746619654-f7s3omf57g3d661svq7tka295ci416ac</string>
	<key>API_KEY</key>
	<string>AIzaSyDPoULoUGoi_vwMQ0L6dyL7T_167y5AIbs</string>
	<key>GCM_SENDER_ID</key>
	<string>476746619654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.GottaGo</string>
	<key>PROJECT_ID</key>
	<string>gottago-d0279</string>
	<key>STORAGE_BUCKET</key>
	<string>gottago-d0279.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476746619654:ios:17c9f03a6a11c05bdf1c87</string>
	<key>DATABASE_URL</key>
	<string>https://gottago-d0279.firebaseio.com</string>
</dict>
</plist>